<h1>Gists</h1>

<table class="table" id="gists_table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col" class="sorted" id="sortBy">Question</th>
      <th scope="col" id="sortBy">GitLink</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
      <%= render @gists %>
  </tbody>
</table>

<script type="module">
  import { Sorting } from "myjs";
  Sorting();
</script>