<footer>
  <hr/>
  <p><strong>TestGuru, <%= github_url("skvortsovvg", "TestGuru") %></strong></p>
  <p>Учебный проект в онлайн-школе <a href="http:\\thinknetica.com" target="_blank" rel="noopener">Thinknetica</a></p>
  <p><%= this_year %>, Владимир Скворцов (TG, skype: @skvortsovvg)</p>
</footer>
