<h1>Тест завершен!</h1>

<% if @result.passed %>
  <h2 style="color: green"><span style="color: black">Ваш результат:</span> <%= @result.score %>%</h2>
  <h2 style="color: green">ТЕСТ УСПЕШНО ПРОЙДЕН!</h2>
<% else %>
  <h2 style="color: red"><span style="color: black">Ваш результат:</span> <%= @result.score %>%</h2>
  <h2 style="color: red">ТЕСТ НЕ ПРОЙДЕН!</h2>
<% end %>

<%= link_to "К тестам", tests_path %>
