<h1>Editing answer</h1>

<%= render 'shared/errors', object: @answer %>

<p>
  <%= @answer.question.body %>
</p>

<%= render "form", answer: @answer %>

<br>

<div>
  <%= link_to "Back", admin_question_path(@answer.question) %>
</div>
