
<%= form_with model: [:admin, @test, @question] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, cols: 100, rows: 5 %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
