<h1>О проекте</h1>
  <p>Данный сайт является результом курсовой работой по Ruby on Rails онлайн-школы <a href="https://thinknetica.com/">Thinknetica</a>.</p>
  <p>Заявленная функциональность такая: содавать тесты, проводить тестирование, сохранять и публиковать результаты тестов.</p>
  <p>Работу выполнил <a href="../about/author/">Скворцов Владимир</a> собственными руками.</p>


<h2>Об авторе</h2>
  <p>Программист, менеджер, бизнес-аналитик. Принимал участие в крупных проектах автоматизации, делал проекты под ключ, руководил IT подразделениями. </p>
  <p>Проектирование, разработка, дизайн, тестирование и всё остальное честно выполнено мною.</p>
  <p>Контакты: 
    <a href="https://www.facebook.com/vovanches" rel=nofollow rel=noopener>Facebook</a>       
    <a href="https://vk.com/bobah4ec" rel=nofollow rel=noopener>VK</a>      
    <a href="https://t.me/skvortsovvg" rel=nofollow rel=noopener>Telegram</a>
    <a href="https://github.com/skvortsovvg" rel=nofollow rel=noopener>GitHub</a>
    <div>Резюме:
      <a href="https://hh.ru/resume/ab411e58ff034a149d0039ed1f4347714c454f" rel=nofollow rel=noopener> hh.ru (Rails)</a>
      <a href="https://hh.ru/resume/b2184e9dff02efa50f0039ed1f776972494476" rel=nofollow rel=noopener> hh.ru (1C)</a>
    </div>
  </p>
  