<div id="<%= dom_id test %>">
  <p>
    <strong><%= "#{test.title} (#{pluralize(test.questions.count, "question" )})" %></strong>
    <p>
      <%= link_to "Открыть", test %>
    </p>

  </p>

</div>
