 <div id="<%= dom_id test %>">
  <p>
    <strong><%= "#{test.title} (#{pluralize(test.questions.count, "question" )})" %></strong>
    <p>
      <%= button_to "Открыть", test, method: :get, form: {style: 'display:inline-block;'} %> |
      <%= button_to "Начать прохождение", start_test_path(test), method: :post, form: {style: 'display:inline-block;'} %> |
    </p>

  </p>

</div>
